@using DASoTiemChung.Controllers

@model MuiTiem
@functions {
    //public string GenerateCategorySelectOptions(CategoryDto item, int level)
    //{
    //    var html = @"<option value=""" + item.Id + @""" " + (Model.ParentId.Equals(item.Id) ? "selected" : "") + ">"
    //    + (level > 1 ? "&#x251c;" + string.Concat(Enumerable.Repeat("&#x2500;", level)) : "")
    //    + item.Name + @"</option>";
    //    if (item.Childrens != null && item.Childrens.Count() > 0)
    //    {
    //        level++;
    //        foreach (var child in item.Childrens)
    //        {
    //            html += GenerateCategorySelectOptions(child, level);
    //        }
    //    }
    //    return html;
    //}
}
@{
    
    var submitUrl = Model.MaMuiTiem==0 ? Url.RouteUrl(MuiTiemController.RouteCreate) : Url.RouteUrl(MuiTiemController.RouteUpdate, new { id = Model.MaMuiTiem });
    var submitMethod = Model.MaMuiTiem==0 ? "POST" : "PUT";
}
<div class="modal-header">
    <h5 class="modal-title">@(Model.MaMuiTiem==0 ? "Thêm mới" : "Sửa") Mũi Tiêm</h5>
    @*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>*@
</div>
<div class="modal-body">
    <form id="detailsForm"
          class="row g-3"
          onsubmit="event.preventDefault(); saveForm.call(this, { url: '@Html.Raw(submitUrl)', method: '@Html.Raw(submitMethod)' });">
        <div class="form-group d-none">
            <label for="pcId">Id</label>
            <input type="text" readonly class="form-control" id="pcId" name="@Html.NameFor(x => x.MaMuiTiem)" placeholder="" value="@Html.Raw(Model.MaMuiTiem==0 ? 0 : Model.MaMuiTiem)" />
            </div>
        <div class="form-group">
            <label for="pcName">Tên mũi tiêm</label>
            <input type="text" class="form-control" id="pcName" name="@Html.NameFor(x => x.TenMuiTiem)" placeholder="Tên Mũi Tiêm" value="@Html.Raw(Model.TenMuiTiem)">
        </div>
        
        
        
        
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" form="detailsForm">Lưu</button>
    <button type="button" class="btn btn-secondary" @*data-bs-dismiss="modal"*@ onclick="closeForm()">Đóng</button>
</div>