
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(ViewBag.Title ?? "Admin")</title>
    
    @*<partial name="Partial/_Styles" />*@
    @await Html.PartialAsync("Partial/_Styles")
    @RenderSection("Styles", false)
</head>
<body>
    <div id="app">
        @*<partial name="Partial/_NavBar" />*@
        @await Html.PartialAsync("Partial/_NavBar")
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            @RenderBody()

            <footer>
                @*<div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                <p>2021 &copy; Mazer</p>
                </div>
                <div class="float-end">
                <p>
                Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                </p>
                </div>
                </div>*@
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>@DateTime.Now.Year &copy;</p>
                    </div>
                    <div class="float-end">
                        @*<p>
                        Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                        </p>*@
                    </div>
                </div>
            </footer>
        </div>
    </div>
  
    <script>
        
        (function() {
            'use strict'
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.forEach(function(tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
        })()

    </script>
    @*<partial name="Partial/_Scripts" />*@
    @await Html.PartialAsync("Partial/_Scripts")
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(document).ready(function() {
            //https://stackoverflow.com/questions/26018756/bootstrap-button-drop-down-inside-responsive-table-not-visible-because-of-scroll
            //https://www.w3schools.com/bootstrap/bootstrap_ref_js_dropdown.asp
            $(document).on({
                "show.bs.dropdown": function(event) {
                    $(this).closest(".table-responsive").css("overflow", "inherit");
                },
                "hide.bs.dropdown": function(event) {
                    $(this).closest(".table-responsive").css("overflow", "auto");
                }
            }, ".table-responsive .btn-group");
        });
    </script>
</body>
</html>