@using DASoTiemChung.Controllers

<div id="sidebar" class="active">
    <div class="sidebar-wrapper active border">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="~/">
                        <spam>Quản lý sổ tiêm chủng</spam>
                    </a>
                </div>
                <div class="toggler">
                    <a href="javascript:;" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                @*<li class="sidebar-title">Menu</li>*@
                <li class="sidebar-item">

                    <div class="btn btn-toggle collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#dashboard-collapsea" aria-expanded="false">
                        <i class="bi bi-sliders"></i>
                        <span>Đăng Ký Tiêm</span>
                    </div>
                    <div class="collapse" id="dashboard-collapsea">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="sidebar-item">
                                <a asp-route="@NguoiDanController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Người dân đăng ký tiêm</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@MuiTiemController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Mũi Tiêm</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@PhieuTiemController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Đăng ký tiêm cho người dân</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@TienSuBenhLyController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Tiền sử bệnh lý</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@VacXinController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Loại vắc xin</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-item">

                    <div class="btn btn-toggle collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#dashboard-collapseb" aria-expanded="false">
                        <i class="bi bi-sliders"></i>
                        <span>Nhập vắc xin</span>
                    </div>
                    <div class="collapse" id="dashboard-collapseb">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="sidebar-item">
                                <a asp-route="@PhieuNhapController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Phiếu nhập vắc xin</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@KhoController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Kho nhập vắc xin</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@NhaSanXuatController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Nhà sản xuất vắc xin</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@LoController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Lô vắc xin nhập</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@VacXinController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>vắc xin nhập</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@VacXinTheoLoController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Vắc xin nhập từ lô</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-item">

                    <div class="btn btn-toggle collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#dashboard-collapsec" aria-expanded="false">
                        <i class="bi bi-sliders"></i>
                        <span>Xuất vắc xin</span>
                    </div>
                    <div class="collapse" id="dashboard-collapsec">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="sidebar-item">
                                <a asp-route="@PhieuXuatController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Phiếu xuất vắc xin</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@KhoController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Kho xuất vắc xin</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@DiemTiemController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Điểm tiêm vắc xin</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@LoController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Lô xuất vắc xin</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@VacXinController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>vắc xin xuất</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-route="@VacXinTheoLoController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Vắc xin theo lô xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-item">

                    <div class="btn btn-toggle collapsed sidebar-link" data-bs-toggle="collapse" data-bs-target="#dashboard-collapsed" aria-expanded="false">
                        <i class="bi bi-sliders"></i>
                        <span>Quản lý tổng hợp</span>
                    </div>
                    <div class="collapse" id="dashboard-collapsed">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li class="sidebar-item">
                                <a asp-route="@NhanVienController.RouteIndex" class="sidebar-link">
                                    <i class="bi bi-columns-gap"></i>
                                    <span>Nhân viên</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-item">
                    <a asp-route="@DangNhapController.LogoutExcute" class="sidebar-link">
                        <i class="bi bi-columns-gap"></i>
                        <span>Đăng xuất</span>
                    </a>
                </li>

            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>