@using DASoTiemChung.Controllers
@using DASoTiemChung.Dtos
@using DASoTiemChung.Filter

@model PagedResultDto<NguoiDanOutputDto>
@{
    int orderNum = (Model.SkipCount - 1) * Model.MaxResultCount + 1;
}


<!-- table striped -->
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover mb-0">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center col-lg-3">Họ Tên người dân</th>
                <th class="text-center col-lg-3">Số thẻ bảo hiểm y tế</th>
                <th class="text-center col-lg-3">Số điện thoại</th>
                <th class="text-center col-lg-3">Số CCCD/HC</th>
                <th class="text-center col-lg-3">Nghề nghiệp</th>
                <th class="text-center col-lg-3">Đơn vị công tác</th>
                <th class="text-center col-lg-3">Địa chỉ</th>
                <th class="text-center col-lg-3">Email</th>
                <th class="text-center col-lg-3">Dân tộc quốc tịch</th>
                <th class="text-center col-lg-3">Người dám hộ</th>
                <th class="text-center col-lg-3">Quan hệ với người dám hộ</th>
                <th class="text-center col-lg-3">Số điện thoại người giám hộ</th>

                <th class="text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in (Model.Items ?? new List<NguoiDanOutputDto>()))
            {
                @*@Html.Raw(GenerateCategoryTableRow(category, 1))*@
            <tr>
                <td align="center">@(orderNum++)</td>

                <td class="ps-4"> @Html.Raw(category.HoTen)</td>
                <td class="ps-4"> @Html.Raw(category.SoTheBaoHiemYte)</td>
                <td class="ps-4"> @Html.Raw(category.SoDienThoai)</td>
                <td class="ps-4"> @Html.Raw(category.SoCccdhc)</td>
                <td class="ps-4"> @Html.Raw(category.NgheNghiep)</td>
                <td class="ps-4"> @Html.Raw(category.DonViCongTac)</td>

                <td class="ps-4">
                    @Html.Raw(category.SoNha + "," + category.XaPhuongNavigation.TenXaPhuong +
                "," + category.QuanHuyenNavigation.TenQuanHuyen +
                "," + category.TinhThanhPhoNavigation.TenTinhThanhPho
                )

                </td>
                <td class="ps-4"> @Html.Raw(category.Email)</td>
                <td class="ps-4"> @Html.Raw(category.DanTocQuocTich)</td>
                <td class="ps-4"> @Html.Raw(category.NguoiDamHo)</td>
                <td class="ps-4"> @Html.Raw(category.QuanHeNguoiDamHo)</td>
                <td class="ps-4"> @Html.Raw(category.SoDienThoaiNguoiDamHo)</td>







                <td align="center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary"
                                onclick="openForm({ url: '@Url.RouteUrl(NguoiDanController.RouteForm, new { id = category.MaNguoiDan })' })">
                            Sửa
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Menu thả xuống</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="javascript:;"
                                   onclick="confirmOnDelete({ url: '@Url.RouteUrl(NguoiDanController.RouteDelete, new { id = category.MaNguoiDan })' })">
                                    Xóa
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>


            }
        </tbody>
    </table>
</div>
<!-- end table striped -->
<div class="row p-1">
    <div class="col-12">
        <div class="float-right d-inline-flex align-items-center">
            <label class="text-nowrap">Hiển thị</label>
            <select class="form-select mx-2" role="button" onchange="getPaging({ index: 1, size: this.value });">
                @foreach (var i in new int[] { 5, 10, 20, 50, 100 })
                {
                    @Html.Raw($"<option value=\"{i}\" {Html.Raw(Model.MaxResultCount == i ? "selected" : "")}>{i}</option>")
                }
            </select>
            <label class="text-nowrap">bản ghi / @Html.Raw(Model.TotalCount) bản ghi</label>
        </div>
        <div class="float-end">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-primary m-0">
                    <li class="page-item @Html.Raw(Model.SkipCount > 1 ? "" : "disabled")">
                        <a class="page-link" onclick="getPaging({ index: 1 })">Đầu</a>
                    </li>
                    <li class="page-item @Html.Raw(Model.HasPreviousPage ? "" : "disabled")">
                        <a class="page-link" onclick="getPaging({ index: @(Model.SkipCount - 1) })"><</a>
                    </li>
                    @if (Model.SkipCount > 1)
                    {
                        <li class="page-item"><a class="page-link" onclick="getPaging({ index: @(Model.SkipCount - 1) })">@Html.Raw(Model.SkipCount - 1)</a></li>
                    }
                    <li class="page-item disabled"><a class="page-link">@Html.Raw(Model.SkipCount)</a></li>
                    @if (Model.SkipCount < Model.PageCount)
                    {
                        <li class="page-item"><a class="page-link" onclick="getPaging({ index: @(Model.SkipCount + 1) })">@Html.Raw(Model.SkipCount + 1)</a></li>
                    }
                    <li class="page-item  @Html.Raw(Model.HasNextPage ? "" : "disabled")">
                        <a class="page-link" onclick="getPaging({ index: @(Model.SkipCount + 1) })">></a>
                    </li>
                    <li class="page-item @Html.Raw(Model.SkipCount < Model.PageCount ? "" : "disabled")">
                        <a class="page-link" onclick="getPaging({ index: @Model.PageCount })">Cuối</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>